.main {
    display: flex;
    flex-direction: column;
    height: 97%;
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    .img_name {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            border-radius: 40px;
            margin-right: 11px;
        }

        .name_email {
            span {
                font-size: 20px;
            }
            p {
                font-size: 15px;
                color: #b0b0b0;
            }
        }
    }

    .messages {
        flex: 1;
        overflow-y: auto;
        padding: 10px;
        &::-webkit-scrollbar {
            width: 8px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(240, 240, 240, 0.5);
            border-radius: 10px;
            border: 3px solid transparent;
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }
    
        &:hover::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .input_container {
        display: flex;
        align-items: center;
        background-color: #444;
        padding: 10px;
        border-radius: 10px;

        textarea {
            flex: 1;
            background: transparent;
            border: none;
            color: #fff;
            resize: none;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            outline: none;

            &::placeholder {
                color: #b0b0b0;
            }
        }

        button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;

            &:disabled {
                background-color: #555;
            }
        }
    }
}
