*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(33, 30, 33, 1);
    color: white;
}
.nones{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 30, 33);;
    overflow: hidden;
    display: none;
    position: absolute;
    display:none ;
    
}
.spans{
    font-size: 10vw;
    color: #FFDCDC;
    opacity: 31%;
    font-weight: 600;
}
.pnones{
font-size: 30px
}
@media screen and (max-width: 1050px) {
    
    body {
      
      z-index: -1;
    }
    .nones{
        display: block;
        z-index: 1;
        display:flex ;
        align-items: center;
        justify-content: center;
    }
  }