.loginPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 30, 33, 1);
  .loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
      font-size: 20vw;
      color: #FFDCDC ;
      opacity: 31%;
    }
    
    a{
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    
    }
  }
}

.googlelogo {
  font-family: 'Product Sans', sans-serif; /* Google uses Product Sans font for their logo */
  font-size: 48px; /* Adjust size as needed */
  font-weight: bold;
  display: flex;
}

.g {
  color: #4285F4; /* Blue */
}

.o1 {
  color: #EA4335; /* Red */
}

.o2 {
  color: #FBBC05; /* Yellow */
}

.gl {
  color: #4285F4; /* Blue */
}

.l {
  color: #34A853; /* Green */
}

.e {
  color: #EA4335; /* Red */
}