.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &.sent {
            justify-content: flex-end;

            .text {
                background-color: #674F4F;
            }
        }

        &.received {
            justify-content: flex-start;

            .text {
                background-color: #514f67;
            }
        }

        .text {
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            word-wrap: break-word;
        }

        .timestamp {
            font-size: 12px;
            margin-top: 5px;
            text-align: right;
            color: #b0b0b0;
        }
    }
}